.vscode/*
sorting_algorithms/countingsort
sorting_algorithms/bubblesort
sorting_algorithms/insertionsort
sorting_algorithms/mergesort
sorting_algorithms/selectionsort
sorting_algorithms/quicksort
search_algorithms/linearsearch
search_algorithms/binarysearch
datastructures/list/list
datastructures/list/simplelist
datastructures/list/doublelinkedlist
datastructures/stack/stack
datastructures/queue/queue
datastructures/graphs/heap
datastructures/graphs/BST