.vscode/*
sorting_algorithms/countingsort
sorting_algorithms/bubblesort
sorting_algorithms/insertionsort
sorting_algorithms/mergesort
sorting_algorithms/selectionsort
sorting_algorithms/quicksort
search_algorithms/linearsearch
search_algorithms/binarysearch
datastructures/list/list
datasatructures/list/simplelist
/datastructures/list/doublelinkedlist
datastructures/stack/simplestack
datastructures/stack/stack